@tailwind preflight;

@tailwind components;

$animationDuration: 0.25s;
@import 'vue2-animate/src/sass/vue2-animate.scss';

a {
  text-decoration: none;
}

* {
  transition: all 0.25s;
}

.main-content .router-link-exact-active {
  @apply .border-blue .border-b-2 .text-black;
}

.link-dark {
  @apply .text-black;

  &:hover {
    @apply .text-blue;
  }
}

.btn {
  @apply .text-sm .font-semibold .py-1 .px-4 .rounded .shadow-md;

  &:hover {
    @apply .shadow-none;
  }
}

.btn-big {
  @extend .btn;
  @apply .py-4;  
}

.btn-blue {
  @extend .btn;
  @apply .bg-blue .text-white;

  &:hover {
    @apply .bg-blue-dark;
  }
}

.btn-green {
  @extend .btn;
  @apply .bg-green-dark .text-white;

  &:hover {
    @apply .bg-green-darker;
  }
}

.btn-red {
  @extend .btn;
  @apply .bg-red .text-white;

  &:hover {
    @apply .bg-red-dark;
  }
}

.label {
  @apply .inline-block .w-32 .text-right .mr-4;
}

.input {
  @apply .border .rounded .p-2;

  &:focus {
    @apply .border-blue;
  }
}

.select {
  @apply .inline-block .appearance-none .w-32 .border .py-2 .px-2 .pr-8 .rounded;
}

@tailwind utilities;
